body {
  font-family: monospace;
  font-size: 100%;
  background-color: white;
  color: #111;
  width: 80%;
  padding: 1em;
  margin: 5%;
  border: thin solid gray;
  border-radius: 5px;
  display: block;
}

html { scroll-behavior: smooth; }

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#menu li {
    display: inline;
}

.vlist {
  padding: 0;
  margin: -5px;
  display: grid;
  width: 100%;
}

.vlist li {
  list-style-type: none;
  padding: 5px;
  width: 100%; /* auto spacing */
}

@media screen and (max-width: 768px) {
  .vlist li { width: 100%; }
}

.vlist li.odd {
  background: #B7999C;
}

.vlist li.even {
  background: #DFE0E2;
}

.hlist {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
}

.hlist li {
  list-style-type: none;
  padding: 5px;
  width: 100%; /* auto spacing */
}

@media screen and (max-width: 768px) {
  .hlist li { width: 25%; }
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
}

footer {
  padding: 5% 5% 2%;
}
